extends layouts/default
block content
  div.container

    include includes/navbar

    div.row
      div.span12
        div.hero-unit
          h1 #{title} 
          p Subtitle

    div.row

       div.span4
          h2 Title
          p Text text text

       div.span4
          h2 Title
          p Text text text

       div.span4
          h2 Title
          p Text text text
