extends layouts/default
block content
  div.container

    include includes/navbar

    div.row
      div.span4
      div.span4
        h2 Log In
        br
        form.sign-in(action="/login", method="post")
          .control-group
            input.input-block-level(type='text', placeholder='username', name="username")
          .control-group
            input.input-block-level(type='password', placeholder='*************', name="password")
          .control-group
            button.btn.btn-primary.btn-block(type='submit') Login
      div.span4
          
